<div class="row">              
        <div class="productImage col-xs-12 col-sm-12 col-md-6 col-lg-12 col-xl-6">
            <img src="/static/src/assets/images/paper.png" alt="plastics">
        </div>
        <div class="productText col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <h4>Paper</h4>
            <p class="lead">Tulsaspark Waste Packaging and Transfer ("TWPT") is an innovative waste management company that 
                            provides integrated solutions and training in the collection, packaging, and transfer of waste 
                            for recycling.To promote a clean healthy environment, we focus on building sustainable livelihoods 
                            by working in partnership with:
            </p>
            <div class="btn-group">
                <button type="button" class="btn btn-primary"><h5 class="card-title">Plastic</h5></button>
                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Section 01</a>
                    <a class="dropdown-item" href="#">Section 02</a>
                    <a class="dropdown-item" href="#">Section 03</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Section 04</a>
                </div>
            </div>
        </div>
    </div>