 <!-- glass product section -->
<div class="main-products container" >
        <div class="row ">
          <div class="col-12">
            <h3>Our Products</h3>
            <p class="lead">Tulsaspark Waste Packaging and Transfer ("TWPT") is an innovative waste management company that provides integrated solutions and training in the collection, packaging, and transfer of waste for recycling.
                To promote a clean healthy environment, we focus on building sustainable livelihoods by working in partnership with:</p>
            <button type="button" class="btn btn-primary btn-lg">Large button</button>
          </div>
        </div>
          <!-- plastic product section -->
            <% include plastic %> 
          <!-- glass product section -->
            <% include glass %> 
          <!-- metal product section -->
            <% include metal %> 
          <!-- paper product section -->
            <% include paper %> 
</div>
  