<div class="container-fluid aboutus">  
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 ">
                <h3>About us</h3>
                <p class="lead">Tulsaspark Waste Packaging and Transfer ("TWPT") is an innovative waste management company that provides integrated solutions and training in the collection, packaging, and transfer of waste for recycling.
                    To promote a clean healthy environment, we focus on building sustainable livelihoods by working in partnership with:</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                    <img class="d-block w-100" src="/static/src/assets/images/AboutUs.png" alt="Third slide">
            </div>
        </div>
</div>