<div class="collapse multi-collapse card card-body sticky-top " id="navTwpt" style=" margin: 0; padding: 0;">
            <ul class="nav nav-tabs justify-content-center" >
                <li class="nav-item">
                  <a class="nav-link active" href="twpt">TEST twpt</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">BBC</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">LAND FIELD</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="#">REGISTER</a>
                </li>
              </ul>
        
  </div>