<div class="card ">
  <img class="card-img-top " id="serviceBImage" src="<%= serviceData.imageSrc%>" alt="Card image cap">
  <div class="card-body">  
    <div class="btn-group">
      <button type="button" class="btn btn-primary" id="serviceB">
        <h5 class="card-title serviceBTitle">
          <%= serviceData.name%>
        </h5>
      </button>
      <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" id="serviceB01" href="">Section 01</a>
        <a class="dropdown-item" id="serviceB02" href="">Section 02</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" id="serviceB03" href="">Section 03</a>
      </div>
    </div>
    <p class="card-text serviceBDescription">
        <%= serviceData.description%>
    </p>
  </div>
  <div class="card-footer serviceBFooter">
    <small class="text-muted"><%= serviceData.footer%></small>
  </div>
</div>