<div class="card ">
        <img class="card-img-top" src="http://localhost:3000/static/src/assets/images/flower.jpg" alt="Card image cap">
        <div class="card-body">  
          <div class="btn-group">
                  <button type="button" class="btn btn-primary"><h5 class="card-title">Current business</h5></button>
                  <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Section 01</a>
                    <a class="dropdown-item" href="#">Section 02</a>
                    <a class="dropdown-item" href="#">Section 03</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Section 04</a>
                  </div>
            </div>
          <p class="card-text">
              In 2017 Tulsaspark was appointed as Implementing Agent for the OR Tambo District Municipality Regional Recycling Program. Our operations are geographically spread in all towns of the OR Tambo District Municipality. There is a network of buy-back centres (“BBCs”) to procure recyclable material from waste harvesters and waste generators – is at least one in each town.  
              All material from the BBCs is then taken to the ORTDM Regional Recycling Facility known as the Main Processing Centre (“MPCs”) for sorting, bailing and packaging, Thereafter, the packaged recyclable product is sold and transferred to our network of recycling client companies, outside of the borders of the Eastern Cape – namely, Sappi, Collect-A-Can, Consol, Sen Li Da, etc.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
</div>