<div class="card ">
        <img class="card-img-top" src="/static/src/assets/images/flower.jpg" alt="Card image cap">
        <div class="card-body">  
          <div class="btn-group">
                  <button type="button" class="btn btn-primary"><h5 class="card-title">Operating network infrastructure</h5></button>
                  <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <div class=" dropdown-menu">
                      <a class="dropdown-item" href="#">Section 01</a>     
                    <a class="dropdown-item" href="#">Section 02</a>
                    <a class="dropdown-item" href="#">Section 03</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Section 04</a>
                  </div>
                </div>
          <p class="card-text">
                  TWPT BBCs with operational staff equipped with tools: 8 Mthatha and 1 in each of the other towns (Mqanduli, Tsolo, Qumbu, Libode, Ngqeleni, Port St Johns, Lusikisiki and Flagstaff) MPC in Qumbu, with easy access to roadway links to buyer destinations
                  TWPT undertakes collection of recyclable material from sources in various areas where there is difficulty to deliver to the BBCs – this includes rural areas. Collection vehicles are fitted with special equipment to compress and protect the acquired recyclables during transportation to BBCs and MPCs                      </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>