<div class="card ">
        <img class="card-img-top" src="http://localhost:3000/static/src/assets/images/flower.jpg" alt="Card image cap">
        <div class="card-body">  
          <div class="btn-group">
                  <button type="button" class="btn btn-primary"><h5 class="card-title">Our value proposition</h5></button>
                  <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Section 01</a>
                    <a class="dropdown-item" href="#">Section 02</a>
                    <a class="dropdown-item" href="#">Section 03</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Section 04</a>
                  </div>
                </div>
          <p class="card-text">
              <ul>
                  <li>
                        Improvement of waste management practice to maximise benefits and minimise costs
                  </li>
                  <li>
                        Creation of full-time sustainable employment in the region which has high unemployment and poverty, currently
                  </li>
                  <li>
                        Participate and contribute towards the minimisation of waste in a region where waste generation is high, to:
                  </li>
              </ul>
              <ul>
                  <li>
                        Increase lifespan of landfill sites
                  </li>
                  <li>
                        Improve waste management and   reporting
                  <li>
                        Building a sustainable revenue generating enterprise that steadily expands into downstream and core waste recycling activities
                  </li>
              </ul>
            
                <p>
                        The basic problem of many local municipalities in OR Tambo is that of rising management costs and environmental degradation – that is where we aim to have a positive impact.
                </p>
            </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>