<div class="main-service container-fluid padding">
        <h3>Our Service</h3>
        <p class="lead">Tulsaspark Waste Packaging and Transfer ("TWPT") is an innovative waste management company that provides integrated solutions and training in the collection, packaging, and transfer of waste for recycling.
            To promote a clean healthy environment, we focus on building sustainable livelihoods by working in partnership with:</p>

        <div class="row padding"> 
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
                <% include currentBusiness %> 
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
                <% include oni %> 
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
                <% include ovp %> 
            </div>
        </div>
</div>