<div class="main-header text-dark" >     
  <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselIndicators" data-slide-to="1"></li>
      <li data-target="#carouselIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <!-- First Element PWPT-->
      <div class="carousel-item active " >
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 cCol">
            <img class="d-block w-100 cColEl" src="/static/src/assets/images/Header.png" alt="First slide"  >
            <div class="carousel-caption d-none d-md-block">
              <h5>Header</h5>
              <p>Details of the bins here</p>
            </div>
          
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 cCol" >
            <div class="jumbotron cColEl" >                      
              <h1 class="display-4">Our Process</h1>
              <p class="lead">TWPT Subtitle</p>
              <hr class="my-4">
              <p>TWPT processes Content here</p>
              <p class="lead">
                  <a class="btn btn-outline-secondary btn-lg" href="#" role="button">check our services</a>
              </p>                                 
            </div>
          </div>
        </div>                     
      </div>
      <!-- Second Element PWP-->
      <div class="carousel-item  " >
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 cCol">
              <img class="d-block w-100 cColEl" src="/static/src/assets/images/Header.png" alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                <h5>Header</h5>
                <p>Details of the bins here</p>
              </div>
            
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6  cCol">
              <div class="jumbotron cColEl">                      
                <h1 class="display-4">Our Process</h1>
                <p class="lead">TWP Subtitle</p>
                <hr class="my-4">
                <p>TWP processes Content here</p>                                 
              </div>
            </div>
          </div>                     
        </div>
        <!-- Third Element PBAS-->
        <div class="carousel-item  " >
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6  cCol">
                <img class="d-block w-100 cColEl" src="/static/src/assets/images/Header.png" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Header</h5>
                  <p>Details of the bins here</p>
                </div>
              
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6  cCol">
                <div class="jumbotron cColEl">                      
                  <h1 class="display-4">Our Process</h1>
                  <p class="lead">TBAS Subtitle</p>
                  <hr class="my-4">
                  <p>TBAS processes Content here</p>                                 
                </div>
              </div>
            </div>                     
          </div>
                 
    </div>
                <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
</div>